footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.post img {
  max-width: 100%
}

.caption:before {
  content: "図:";
}

.caption {
  color: #777;
}

.page-header h1 a {
  color: black;
}

.post-body {
  line-height: 160%;
}

.post-body h1 {
  margin-top: 50px;
  font-size: 150%;
}

.post-body h2 {
  margin-top: 20px;
  font-size: 130%;
}

#side-menu .blob:first-child {
  margin-top: 60px;
}

#side-menu .blob {
  margin-bottom: 30px;
}

.post-date {
  font-style: italic;
  color: #999;
}

#youjava {
  margin-bottom: 20px;
}

#youjava p {
  text-transform: uppercase;
  color: #646464;
  text-align: center;
  font: Helvetica,Arial,sans-selif;
}

#youjava a {
  text-decoration: none;
  font-size: 10px;
  text-align: center;
  display: block;
  color: white;
  width: 15em;
  padding: 0.8em;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background: #ffe5e5;
  background: -moz-linear-gradient(top,  #ffe5e5 0%, #ff0000 40%, #ff0000 60%, #990000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe5e5), color-stop(40%,#ff0000), color-stop(60%,#ff0000), color-stop(100%,#990000));
  background: -webkit-linear-gradient(top,  #ffe5e5 0%,#ff0000 40%,#ff0000 60%,#990000 100%);
  background: -o-linear-gradient(top,  #ffe5e5 0%,#ff0000 40%,#ff0000 60%,#990000 100%);
  background: -ms-linear-gradient(top,  #ffe5e5 0%,#ff0000 40%,#ff0000 60%,#990000 100%);
  background: linear-gradient(to bottom,  #ffe5e5 0%,#ff0000 40%,#ff0000 60%,#990000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe5e5', endColorstr='#990000',GradientType=0 );
}
