footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

/*
 * .column-container
 *   .sidemenu-column
 *     .blob
 *   .posts-column
 *     .posts / .single-post
 *       .post
 *         .page-header
 *         .post-body
 * */

/* --------------------------------------------- */

.column-container {
  padding-top: 10px
}

/* --------------------------------------------- */

.sidemenu-column .blob {
  margin-bottom: 30px;
}

/* --------------------------------------------- */

.post {
  margin-bottom: 20px;
  padding: 0 10px;
}

/* --------------------------------------------- */

.post .page-header .post-date {
  font-style: italic;
  color: #999;
}

.post .page-header {
  margin-top: 0px
}

.post .page-header h1 {
  margin-top: 0px;
}

.post .page-header h1 a {
  color: black;
}

/* --------------------------------------------- */

.post-body {
  line-height: 160%;
}

.single-post .post-body {
  line-height: 160%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.post-body img {
  max-width: 100%
}

.post-body pre code{
  white-space: pre;
}

.post-body .caption:before {
  content: "図:";
}

.post-body .caption {
  color: #777;
}

.post-body h1 {
  font-size: 150%;
}

.post-body h2 {
  margin-top: 20px;
  font-size: 130%;
}

/* --------------------------------------------- */

.sidemenu-column .youjava {
  margin-bottom: 20px;
}

.sidemenu-column .youjava p {
  text-transform: uppercase;
  color: #646464;
  text-align: center;
  font: Helvetica,Arial,sans-selif;
}

.sidemenu-column .youjava a {
  text-decoration: none;
  font-size: 10px;
  text-align: center;
  display: block;
  color: white;
  width: 15em;
  padding: 0.8em;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background: #ffe5e5;
  background: -moz-linear-gradient(top,  #ffe5e5 0%, #ff0000 40%, #ff0000 60%, #990000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe5e5), color-stop(40%,#ff0000), color-stop(60%,#ff0000), color-stop(100%,#990000));
  background: -webkit-linear-gradient(top,  #ffe5e5 0%,#ff0000 40%,#ff0000 60%,#990000 100%);
  background: -o-linear-gradient(top,  #ffe5e5 0%,#ff0000 40%,#ff0000 60%,#990000 100%);
  background: -ms-linear-gradient(top,  #ffe5e5 0%,#ff0000 40%,#ff0000 60%,#990000 100%);
  background: linear-gradient(to bottom,  #ffe5e5 0%,#ff0000 40%,#ff0000 60%,#990000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe5e5', endColorstr='#990000',GradientType=0 );
}
